.tasks-board {
    .error {
        color: #EB5E66;
        padding-top: 12px;
        display: block;
    }

    .popup.active {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .8);
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        z-index: 999;
    }

    .GroupBySort {
        display: flex;
        align-items: center;
        padding-left: 25px;
        padding-top: 20px;

        label {
            color: white;
            padding-right: 15px;
        }

        button {
            background: transparent;
            border: 0px;
            color: #5873F9;
            padding: 0px;

            svg {
                color: #5873F9;
                padding-right: 10px;
                font-size: 28px;
            }
        }
    }

    .form-active {
        width: 600px;
        transition: width 0.5s ease;

        height: 100%;
        /* Smooth slide-in effect */
    }

    .updates {
        display: flex;
        background: black;
        margin: 0;
        height: 100%;
    }

    .form-hidden {
        width: 0px !important;
        visibility: hidden;
        transition: width 0.2s ease;
        overflow: hidden;
    }

    .header-form {
        color: #8C8C8C;
        background: #000000;
        border-bottom: 1px solid #1E1E20 !important;

        span {
            font-size: .9rem;
            border-right: 1px solid #1E1E20 !important;
            display: inline-block;
            padding: 17px 16px;

            &.active {
                background: #0F0F0F;
            }

            cursor:pointer;
        }
    }

    .header {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 15px;
        height: auto;

        h1 {
            font-family: 'AcuminBold';
        }

        p {
            color: white;
            font-size: 1rem;
            line-height: 1;
        }
    }

    .downloadPdf {
        background: black;
    }


    .absoulte-close-right {
        position: absolute;
        right: 1px;
        top: 0px;
        color: white;
        padding: 15px;
        // background: #1E1E20;
    }

    .form {
        min-height: 100vh;
        background: black;
        position: fixed;
        right: 0;
        z-index: 999;
        overflow-x: auto;
        height: 80%;
        top: 0;

        .intl-tel-input {
            .country-list {
                li {
                    span {
                        color: #000;
                    }
                }
            }

            input {
                padding-left: 60px !important;
            }

        }

        input {
            background: #161719;
            border: 0px;
            padding: 15px;
            width: 100%;
            color: white;
        }

        .react-datepicker-wrapper {
            width: 100%;
        }

        .dark-drop {
            width: 160px;

            button {
                background: #111;
                border: 0px;
                width: 100%;

                &::after {
                    right: 10px;
                    position: absolute;
                }
            }

            .dropdown-menu {
                background: #111;

                a {
                    color: white;

                    &:hover {
                        color: white !important;
                    }
                }
            }
        }

        .color-drop-multy {
            width: 160px;

            button {
                background: #6458EA;
                border: 0px;
                width: 100%;

                &::after {
                    right: 10px;
                    position: absolute;
                }

            }

            &.hash {
                button {
                    background: #DEAA5E;
                }
            }

            .dropdown-menu {
                background: #111;

                a {
                    color: white;

                    &:hover {
                        color: white !important;
                    }
                }
            }
        }

        .formbox {
            padding: 20px;
            color: white;
            display: block;
            flex-wrap: wrap;
            overflow: auto !important;
            margin: auto;
            min-width: 600px;
            background: #111;

            table {
                width: 100%;
                display: block;

                thead {
                    tr {
                        th {
                            padding-bottom: 10px;
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                }

                tbody {
                    display: block;
                    width: 100%;

                    tr {
                        display: block;
                        width: 100%;

                        td {
                            display: block;
                            padding-left: 0px;
                            padding-right: 10px;
                            padding-top: 20px;
                            padding-bottom: 10px;
                            width: 100%;

                            label {
                                display: block;
                                width: 100%;
                                padding-bottom: 10px;
                            }

                            &.star {
                                padding-left: 20px;

                                svg {
                                    color: #9E856F;
                                    font-size: 25px;
                                    opacity: .2;

                                    &.active {
                                        opacity: 1 !important;
                                    }

                                    &:hover {
                                        opacity: 1 !important;
                                    }
                                }

                            }

                            textarea {
                                background: #161719;
                                border: 0px;
                                height: 80px;
                                padding: 15px 15px;
                                width: 100%;
                                min-width: 300px;
                                resize: none;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }

    }

    .updates-list {
        padding-left: 40px;
        width: 100%;
        display: block;
        padding-top: 40px;

        .updated-head {
            h4 {
                font-size: 1rem;
            }
        }

        span {
            display: block;
        }

        .line-break {
            padding-left: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .update-data {
            display: flex;
            gap: 30px;
            color: white;
            align-items: center;

            span {
                display: block;
                line-height: 1;
                text-align: center;
            }

            .date {
                width: 60px;

                span {
                    &:first-child {
                        font-size: 2rem;
                    }
                }

                font-family: AcuminBold;
            }

            .update {
                background: #0F0F0F;
                border: 1px solid #3C3C3C;
                padding: 25px 45px;
                border-radius: 15px;
            }
        }
    }

    .updates-list {
        width: 100%;

        .noupdate {
            font-size: 3rem;
            color: white;
            opacity: .5;
            width: 100%;
            font-family: acuminBlack;
            text-align: center;
            line-height: 1;
            padding: 30px;

        }
    }

    .updateForm {
        display: flex;
        padding-left: 15px;
        width: 600px;
        margin-top: 50px;

        .input-box {
            position: relative;
        }

        .react-datepicker-wrapper {
            opacity: 0;
        }

        .selectedDate {
            color: white;
            font-size: 1rem;
            position: absolute;
            bottom: 0;
            left: 0;
            line-height: 1;

            padding-left: 30px;

            span {
                text-align: center;
                display: block;
                width: 60px;
            }

            width: 60px;

            span {
                &:first-child {

                    font-family: acuminBlack;
                    font-size: 2rem;
                }
            }
        }

        .date-pick {
            font-size: 1.2rem !important;
        }

        .dateinput {
            width: 120px;
            height: auto;
            white-space: break-spaces;
            line-height: 1 !important;
            font-family: AcuminBold;
            font-size: 1.6rem;
            // &::placeholder {
            //     color: white;
            //     font-size: 2rem;
            //     font-family: AcuminBold;
            //     white-space: break-spaces;
            //     line-height: 1 !important;
            //     display: block;
            //     vertical-align: top;
            // }
        }

        textarea {
            background: #0F0F0F;
            width: auto;
            border: 1px solid #3C3C3C;
            min-width: 350px;
            padding: 15px;
            color: white !important;
            border-radius: 15px;
            resize: none;
            height: 100px;
        }

        >button {
            background: black;
            color: white;
            border: 0px;
            margin-left: 15px;
            padding: 15px;
            border-radius: 15px;
        }
    }

    .popup {
        .formbox {
            background: black;
            padding: 30px;
            color: white;
            width: auto;
            display: block;
            background: #1E1E20;
            flex-wrap: wrap;
            overflow: auto;
            margin: auto;
            padding: 0px;

            .title {
                display: block;
                background: #0F0F0F;
                padding: 20px 25px;
                display: flex;
                align-items: center;
                justify-content: center;

                h3 {
                    padding: 0px;
                    margin: 0px;
                    font-size: 1.2rem;
                }
            }

            .body {
                padding: 35px;
            }

            .actionbutton-form {

                .action-do,
                .action-cancel {
                    padding: 10px 18px;
                    margin-right: 10px;
                    border: 0px;
                    border-radius: 4px;
                }

                .action-do {
                    background: #9E856F;
                    color: white;
                    width: 230px;
                }

                .action-cancel {
                    width: 230px;
                    background: #EB5E66;
                }
            }

            table {
                width: 100%;

                thead {
                    tr {
                        th {
                            padding-bottom: 10px;
                            padding-left: 0px;
                            padding-right: 10px;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            padding-left: 0px;
                            padding-right: 10px;
                            padding-top: 10px;
                            padding-bottom: 10px;

                            input {
                                background: #000;
                                border: 0px;
                                padding: 15px;
                                color: white;
                            }

                            textarea {
                                background: #000;
                                border: 0px;
                                height: 40px;
                                padding: 7px 10px;
                                width: 100%;
                                min-width: 300px;
                                resize: none;
                                color: #ffffff80;
                            }

                            .custom_file_input {
                                position: relative;

                                .inputFile_custom {
                                    background: #000;
                                    padding: 10px;
                                    width: 120px;
                                    height: 60px;
                                    border-radius: 8px;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;

                                }

                                display: flex;
                                gap: 10px;
                                align-items: center;

                                .imageholder {
                                    position: relative;

                                    .close {
                                        position: absolute;
                                        top: -5px;
                                        right: -5px;
                                        color: white;
                                        background: black;
                                        padding: 8px;
                                        border-radius: 15px;
                                        font-size: .5rem;
                                    }
                                }

                                .itemList {
                                    ul {
                                        list-style: none;
                                        margin: 0px;
                                        padding: 0px;
                                        max-width: 60px;
                                        overflow: hidden;

                                        li {
                                            width: 100%;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }


        }
    }

}

.searchbar-form {
    .close {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 40px !important;
        height: 40px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        background: #1E1E20;
        border-radius: 10px;
        padding-bottom: 0px !important;

        &:hover {
            background: #111;
        }
    }

    input {
        background: #161719;
        padding: 8px 15px;
        border: 0px;
        color: white;
        width: 100%;
    }

    .search-result {
        position: absolute;
        background: #161719;
        min-width: 280px;
        z-index: 999;
        border: 1px solid #1E1E20;

        .search-l-body {
            display: flex;
        }

        .new-project {
            padding-bottom: 10px;
            padding-top: 20px;
            cursor: pointer;

            h3 {
                font-size: 1rem !important;
            }

            span {
                color: #9E856F;
                display: inline;
                padding-top: 15px;
                padding-left: 14px;
                // font-size: 1.2rem;
            }
        }

        .property-list {
            border-bottom: 1px solid #111;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 10px;

            &:hover {
                background: #111111;
            }

            &:last-child {
                border: 0px;
            }

            img {
                height: 30px;
            }

            h3 {
                font-size: 1.2rem;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }

            p {
                color: white;
                font-size: .8rem;
                opacity: .7;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
        }
    }
}

.fg-black {
    color: black !important;
}











.Task-List-body {
    background: #111;
    border: 1px solid #303033;
    border-radius: 8px;
    margin: 20px;
    padding-bottom: 30px;
    overflow: auto;
    width: auto;

    .header {
        display: flex;
        justify-content: space-between;

        .filter {
            >h2 {
                display: block;
                font-size: 1rem;

            }

            ul {
                display: flex;
                gap: 10px;
                list-style: none;
                margin-left: 0;
                margin-top: 20px;
                padding: 0;

                li {
                    a {
                        padding: 6px 10px;
                        display: inline-block;
                        border-radius: 10px;
                        color: black;
                        word-wrap: inherit;
                    }

                    &.top {
                        a {
                            background: #F3E0C1;
                        }
                    }

                    &.today {
                        a {
                            background: #BBA6F7;
                        }
                    }

                    &.this-week {
                        a {
                            background: #FFFFFF;
                        }
                    }

                    &.priority {
                        a {
                            background: #F0A15F;
                        }
                    }

                    &.overdue {
                        a {
                            background: #FD784F;
                        }
                    }

                    &.completed {
                        a {
                            background: rgb(0, 200, 117);
                        }
                    }

                }
            }

        }

        .search {
            position: relative;
            padding-right: 30px;
            display: flex;
            align-items: flex-end;
            padding-bottom: 15px;

            .search-box-task {
                position: relative;

                input {
                    background: black;
                    border-radius: 9px;
                    border: 1px solid #202125;
                    padding: 10px;
                    color: white;
                    padding-left: 40px;
                }

                svg {
                    position: absolute;
                    color: white;
                    left: 0;
                    top: 14px;
                    left: 15px;
                }

            }
        }


    }

    .tasks-list {
        width: 1400px;
        overflow: auto;
    }

    .task-list-container {
        color: white;
        position: relative;

        .header {
            h3 {
                font-size: 1rem;
                font-family: AcuminBold;
                text-transform: uppercase;
            }
        }


        .body {

            position: relative;

            .tasks-list {
                width: 100%;

                td,
                th {
                    background: rgb(44, 44, 44);
                    padding: 4px 12px;
                    text-align: left;
                    border: 1px solid #63626A;

                    &.Priority {
                        width: 20px;
                    }

                    &.responses {
                        width: 100px;

                        span {
                            display: inline-block;
                            background: #32323A; // #9E856F;
                            border-radius: 15px;
                            padding: 6px 10px;
                            position: relative;

                            sup {
                                position: absolute;
                                background: #9E856F;
                                ;
                            }

                            &:hover {
                                background: black;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .notfound-tasks {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    padding-left: 30px;
                }

                th {
                    padding: 10px 12px;
                }

                .editAction {
                    width: 30px;

                }

                .responsesItem {
                    white-space: break-spaces;
                    padding-right: 2px;

                    div {
                        max-height: 140px;
                        overflow: auto;
                    }

                }

                .star {
                    color: #9E856F;
                    width: 30px;

                    svg {
                        font-size: 1.7rem;
                        opacity: .2;

                        &.active {
                            opacity: 1;
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                .taskTitle {
                    h4 {
                        font-size: 1rem;
                        margin: 0px;
                        padding: 0px;
                        word-break: break-all;
                        white-space: break-spaces;
                    }

                    padding-top: 10px;
                    max-width: 300px;
                    width:300px;
                    min-width: 300px;
                }

                .projectName {
                    width: 120px;
                    min-width: 180px;
                    font-size: 1rem;
                    max-width: 180px;
                    white-space: break-spaces;
                    padding-bottom: 10px;
                    padding-top: 10px;

                    label {
                        display: none;
                    }
                }

                .type {
                    width: 140px;
                    min-width: 140px;
                    max-width: 140px;
                    font-size: 1rem;
                    text-align: center;
                    text-align: left;

                    &.Task {
                        span {
                            border: 1px solid #6458EA;
                            padding: 8px 12px;
                            border-radius: 10px;
                            background: #6458EA30;
                        }

                        // background: #6458EA;
                    }

                    &.Alert {
                        span {
                            border: 1px solid #D5A344;
                            padding: 8px 12px;
                            border-radius: 10px;
                            background: #D5A34430;
                        }

                        // background: #D5A344;
                    }

                    &.Notification {
                        span {
                            border: 1px solid #2E66B9;
                            padding: 8px 12px;
                            border-radius: 10px;
                            background: #2E66B930;
                        }

                        // background: #2E66B9;
                    }
                }

                .dueDate {
                    width: 60px;
                    font-size: 1rem;
                    padding-bottom: 0px;

                    span {

                        display: block;
                        width: 100%;
                        line-height: 1;
                    }

                    .theprogressline {
                        display: none;
                        width: 100%;
                    }
                }

                .status {
                    font-size: 1rem;
                    padding: 0px !important;
                    position: relative;
                    min-width: 148px;
                    max-width: 148px;
                    width: 148px;
                    // span {
                    //     background: #32323A;
                    //     padding: 10px 15px;
                    //     border-radius: 10px;
                    //     width: 100%;
                    //     display: block;
                    //     text-align: center;
                    //     font-size: .8rem;
                    // }

                    &.InProgress {
                        // span {
                        background: rgb(253, 188, 100);
                        // }
                    }

                    &.Completed {
                        // span {
                        background: rgb(0, 200, 117);
                        // }
                    }

                    &.ToDo {
                        // span {
                        background: #BBA6F7; // }
                    }

                    &.OnHold {
                        background: rgb(121, 126, 147);
                    }

                    .color-drop-multy {
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;

                        button {
                            text-align: center;
                            height: 100%;
                            padding: 0px;
                            width: 100%;
                            justify-content: center;
                            background: transparent !important;
                            border: 0px;

                            &::after {
                                display: none;
                            }
                        }

                        .dropdown-menu {
                            background: rgb(44, 44, 44);
                            padding: 30px;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 8px 6px;
                            color: white;
                            border-radius: 0px !important;
                            box-shadow: none;
                            height: 50px;
                            min-width: 170px;
                            font-size: 1rem !important;
                            margin-bottom: 10px;

                            &.todo {
                                background: #BBA6F7;


                            }

                            &.progress {
                                background: rgb(253, 188, 100);

                            }

                            &.Completed {
                                background: rgb(0, 200, 117);

                            }

                            &.Hold {
                                background: rgb(121, 126, 147);
                            }
                        }
                    }

                }

                .responsible {
                    width: 120px;
                    max-width: 120px;
                    min-width: 120px;
                    white-space: break-spaces;
                    font-size: 1rem;

                    >div {
                        display: flex;
                        align-items: center;
                    }

                    .wahtsapp {
                        a {
                            background: #00A171;
                            color: white;
                            display: inline-flex;
                            align-items: center;
                            text-align: center;
                            width: 40px;
                            justify-content: center;
                            height: 40px;
                            border-radius: 25px;
                            margin-left: 10px;

                            svg {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }

        .mobile-view {
            display: none;
        }
    }
}

@media screen and (max-width:768px) {
    .Task-List-body {
        padding: 0px;
        margin: 0px;
        background: #000000;

        .body {
            padding-left: 0px !important;
            border: 0px;
        }


    }

    .add-task {
        position: fixed;
        width: 60px;
        height: 60px !important;
        bottom: 20px;
        right: 20px;
        background: #9E856F !important;
        z-index: 999;
        border-radius: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .8;

        &:hover {
            opacity: 1;
        }

        .ondesk {
            display: none;
        }

        .mobile-view {
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999;
            font-size: 2.4rem;
            font-family: acuminBlack;
            color: white;
            padding-top: 3px;
            line-height: 1 !important;
        }
    }

    .Task-List-body .task-list-container .header h3,
    .Task-List-body .task-list-container .header .h3 {
        font-size: 1.3rem !important;
        text-transform: uppercase;
    }

    .search {
        width: 100%;
        padding-bottom: 0px !important;

        >div {
            width: 100%;
        }

        input {
            width: 100%;
        }
    }

    .GroupBySort {
        padding-left: 10px !important;
        // flex-direction: row-reverse;
        padding-right: 30px;

        label {
            color: white !important;
            padding-right: 10px;
        }

        button {
            color: white !important;
            font-size: 1.4rem;
        }

        svg {
            color: white !important;
        }
    }

    .tasks-board {
        .container-fluid {
            padding: 0px;
            margin: 0px;
        }

        .actionbar {
            right: 10px !important;
        }

        .downloadPdf {
            display: none !important;
        }

        .form .formbox {
            min-width: 100% !important;
        }

        .form-active {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            overflow: auto;
            background: black;
            z-index: 999;
            padding-bottom: 30px;

            .updateForm {
                display: none;
            }

            .updates-list {
                div:first-child {
                    svg {
                        display: none;
                    }
                }

                div:last-child {
                    padding-bottom: 20px;
                }

                .noupdate {
                    width: 80%;
                }
            }

            .updates-list .update-data {
                gap: 10px;

                .update {
                    padding: 15px 15px !important;
                    text-align: left;
                }
            }
        }

        .updates-list .update-data .date span:first-child {
            font-size: 1.5rem;
        }

        .updates-list .line-break {
            padding-top: 0 !important;
            padding-bottom: 10px !important;
        }

        .task-list-container {
            .header {
                padding-top: 10px !important;
            }

        }

        .header {
            display: flex;
            flex-wrap: wrap;
            padding-left: 10px;
            padding-right: 10px;

            .filter {
                ul {
                    gap: 5px;
                    flex-wrap: wrap;
                    padding-right: 10px;

                    li {
                        display: inline-flex;

                        a {
                            white-space: nowrap;
                            font-size: .9rem;
                            padding: 8px 9px;
                        }
                    }
                }
            }


        }



        .updates {
            height: 80%;
        }

        .noupdate {
            font-size: 3rem;
            color: white;
            display: flex;
            align-items: center;
            opacity: .7;
            text-align: center;
            font-family: acuminBlack;
            position: absolute;
            height: 70%;
            line-height: 1;
            padding-right: 20px;
        }

        .body {
            position: relative;

            table {
                display: block;
                padding: 10px;
                padding-top: 15px;

                thead {
                    display: none;
                }

                tr {
                    position: relative;
                    background: #101010;
                    display: block;
                    border: 1px solid #F3E0C140;
                    border-radius: 10px;
                    padding: 10px;

                    margin-bottom: 25px;

                    td {
                        display: block;
                        border: 0px !important;
                        background: unset !important;

                        &.star {
                            display: none;
                        }

                        &.taskTitle {
                            width: 100% !important;
                            max-width: unset !important;
                            min-width: none !important;
                            padding-top: 30px !important;

                            h4 {
                                display: block;
                                font-family: acuminBold;
                                font-size: 1.3rem !important;

                            }

                        }

                        &.notfound-tasks {}

                        &.projectName {
                            width: 100% !important;
                            max-width: unset !important;
                            min-width: none !important;
                            color: #B9B9B9;
                            padding-bottom: 23px;

                            label {
                                display: inline !important;
                            }
                        }

                        &.type {
                            width: unset;
                            min-width: unset;
                            top: -20px;
                            left: 0px;
                            position: absolute;

                            span {
                                background: #000000 !important;
                                display: inline-block;
                                padding: 3px 14px !important;
                                border-radius: 39px;
                            }


                        }

                        &.Task {
                            span {
                                border: 1px solid #6458EA70 !important;
                            }
                        }

                        &.Notification {
                            span {
                                border: 1px solid #2E66B970 !important;
                            }
                        }

                        &.Alert {
                            span {
                                border: 1px solid #EF971270 !important;
                            }
                        }

                        &.responses {
                            position: absolute;
                            top: -10px;
                            right: 36px;

                            .ondesk {
                                display: none !important;
                            }

                            span {
                                background: transparent !important;
                            }

                            sup {
                                right: 15px;
                            }
                        }

                        &.responsesItem {
                            display: none;
                        }

                        &.dueDate,
                        &.status,
                        &.responsible {
                            padding: 0px !important;
                            background: #000 !important;
                            width: auto !important;
                            border-radius: 10px !important;
                            display: inline-block;
                            height: 100px;
                            margin-left: 5px;

                            label.mobile-view {
                                display: block !important;
                                background: #32323A;
                                padding: 10px;
                                border-top-left-radius: 8px;
                                border-top-right-radius: 8px;
                                text-align: left;
                                font-size: .8rem;
                            }

                            .wahtsapp {
                                background: #00A171;

                                a {
                                    border-radius: 0px;
                                    display: block;
                                }
                            }

                            span {
                                display: block;
                                padding: 10px;
                                background: transparent !important;
                            }

                            background: #000000;

                            .wahtsapp {
                                padding: 0px !important;

                                a {
                                    margin: 0px !important;
                                }
                            }

                        }

                        &.status {
                            min-width: 114px !important;
                            max-width: 115px !important;

                            .color-drop-multy {
                                top: 16px !important;
                            }

                            &.InProgress {
                                // span {
                                background: rgb(253, 188, 100) !important;
                                // }
                            }

                            &.Completed {
                                // span {
                                background: rgb(0, 200, 117) !important;
                                // }
                            }

                            &.ToDo {
                                // span {
                                background: #BBA6F7 !important; // }
                            }

                            &.OnHold {
                                background: rgb(121, 126, 147) !important;
                            }

                            button::after {
                                display: none !important;
                            }
                        }

                        &.dueDate {
                            .theprogressline {
                                display: block !important;
                                padding: 0px !important;
                            }

                            padding-bottom: 0px !important;
                        }

                        &.Priority {
                            display: none;
                        }

                        &.editAction {
                            display: none;
                        }

                    }
                }
            }
        }
    }
}

// .popup.active.conform-delete {
//     position: fixed;
//     left: 0;
//     top: 0;
//     background: black;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     z-index: 999;
//     div.form{
//         background: white;
//         width: 300px;
//         height: 200px;
//         max-height: 200px;
//         display: block;
//         flex-wrap: wrap;
//         min-height: 200px;
//         text-align: center;
//         h3{
//             color: black;
//         }
//     }
// }

@media screen and (min-width:768px) {
    .Task-List-body .task-list-container .mobile-view {
        display: none !important;
    }

    .add-task {
        background: #9E856F;
        padding: 10px 20px;
        margin-left: 10px;
        height: auto;
        border: 0px;
        color: white;
        position: absolute;
        right: 30px;
        border-radius: 10px;
        top: 90px;
    }

}

#loader {
    background: rgba(0, 0, 0, .8);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#loader .spinner {
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 30px;
    height: 30px;
    margin: -76px 0 0 -76px;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #9E856F;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.pages {
    page-break-inside: avoid; // Prevent breaking within elements
    page-break-after: always;
}

@media print {
    .pages {
        page-break-before: always;
        /* Start a new page for each .pages section */
    }

    .tasks-list tr {
        page-break-inside: avoid;
        /* Prevent rows from breaking across pages */
    }

    .task-list-container {
        page-break-inside: avoid;
        /* Avoid breaking the entire task container */
    }

    /* Optional: Style adjustments to improve print readability */
    body {
        color: #000;
        background-color: #fff;
    }
}