@font-face {
    font-family: AcuminPro;
    src: url("../fonts/ellington-font/Acumin-Pro-Light.ttf");
}

@font-face {
    font-family: Acumin;
    src: url("../fonts/ellington-font/Acumin-Pro.otf");
}
@font-face {
    font-family: AcuminBold;
    src: url("../fonts/ellington-font/AcuminProSemibold.ttf");
}
@font-face {
    font-family: AcuminBlack;
    src: url("../fonts/ellington-font/FontsFree-Net-Acumin-Pro-Black.ttf");
}

@font-face {
    font-family: inter;
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}
@font-face {
    font-family: interbold;
    src: url("../fonts/Inter/static/Inter-Bold.ttf");
}
*{
    transition: margin-left 0.3s ease,
        border 0.3s ease;
}
.fg-dgreen{
    color: #00A171 !important; 
}
.fg-lpink{
    color: #FF9191 !important;
}
.bg-dgreen{
    background: #00A171 !important; 
}
.bg-lpink{
    background: #FF9191 !important;
}
.fg-white{
    color: white;
}
.fg-green{
    color: #C9FFCE;
}
body {
    font-family: inter;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: AcuminPro;
    }

    // .bg-gray {
    //     background: #F6F6F4;
    // }

    .b-bottom {
        border-bottom: 1px solid #F6F6F4;
    }
    .theme-button-trans{
        background: transparent;
        color: black;
        border: 1px solid black;
        border-radius: 25px;
        &:active, &:hover, &:focus{
            background: transparent;
            color: black;
            border: 1px solid black;
            border-radius: 25px;
        }
    }
}

