// ================================= Modules announcement bar =================================
.announcement_bar {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 8px 12px;
  border: 0;
  background: rgba(47, 56, 80, 0.92);
  backdrop-filter: blur(12px);

  .uk-svg {
    fill: transparent;
  }

  svg {
    margin-right: 10px;
  }

  .tablet,
  .mobile {
    display: none;
  }

  p {
    font-size: 14px;
    color: #fff;
    font-weight: 500;

    a {
      color: #fff;
      font-weight: 300;
      margin-left: 10px;
      text-decoration: underline;
    }
  }

  .close_announcement_bar {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #b2b9cb;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 974px) {
  .announcement_bar {
    .desktop {
      display: none;
    }

    .tablet {
      display: block;
    }

    .close_announcement_bar {
      right: 24px;
    }
  }
}

@media screen and (max-width: 600px) {
  .announcement_bar {
    justify-content: flex-start;

    .tablet {
      display: none;
    }

    .mobile {
      display: block;
      font-size: 12px;
    }

    .close_announcement_bar {
      right: 12px;
    }
  }
}

// ================================= Modules Breadcrumbs =================================
.breadcrumbs_modules {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;

  i {
    color: #e2e5ea;
    font-size: 12px;
    margin: 20px 15px;
  }

  a {
    font-size: 12px;
    font-weight: 300;
    color: $primary_color;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

// ================================= Modules Banner =================================
.modules_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 70vh;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  >div{
    z-index: 99;
  }
  &::before{
    content: "";
    background: rgba(0,0,0,.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  span {
    font-size: 18px;
    font-weight: 500;
    max-width: 80%;
    color: #fff;
  }

  h1 {
    font-size: 64px;
    font-weight: 600;
    color: #fff;
    margin: 15px 0 0 0;
    width: 90%;
    max-width: 900px;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 974px) {
  .modules_banner {
    height: 550px;

    h1 {
      font-size: 32px;
      width: 600px;
    }
  }
}

@media screen and (max-width: 600px) {
  .modules_banner {
    height: 200px;

    span {
      font-size: 16px;
      font-weight: 100;
      width: 80%;
    }

    h1 {
      font-size: 40px;
      width: 80%;
    }
  }
}

// ================================= Latest Awards =================================
.latestAwards {
  padding: 60px 0;
  border-bottom: 1px solid #e0e4eb;

  h4 {
    font-size: 40px;
    font-weight: 600;
    color: $primary_color;
    text-align: center;
    margin: 0 0 40px 0;
  }
}

.latestAwards_slider {
  .uk-card-media-top img {
    border-radius: 8px;
  }

  .uk-card-default {
    text-align: center;
    box-shadow: none;

    .uk-card-body {
      padding: 20px;
    }

    .uk-card-title {
      font-size: 20px;
      font-weight: 500;
      color: $primary_color;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      color: $primary_color;
    }
  }
}

@media screen and (max-width: 974px) {
  .latestAwards {
    h4 {
      font-size: 32px;
    }
  }

  .latestAwards_slider {
    width: 100%;
    padding: 0;

    .latestAwards_item {
      width: calc(50% + 8px);
      padding-right: 15px !important;
    }

    .slider_nav {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .latestAwards {
    h4 {
      font-size: 20px;
    }
  }

  .latestAwards_slider {
    margin: auto;

    .latestAwards_item {
      width: 100%;

      .latestAwards .latestAwards_slider .uk-card-default {
        .uk-card-title {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .slider_nav {
      display: flex;
    }
  }
}

// ================================= Our History =================================
.our_history {
  padding: 60px 0;
  text-align: center;

  h4 {
    font-size: 40px;
    font-weight: 600;
    color: $primary_color;
    margin: 0 0 15px 0;
  }

  >p {
    font-size: 16px;
    font-weight: 300;
    color: $primary_color;
    margin: 0 auto 45px auto;
    width: 600px;
  }

  .our_history_content {
    .our_history_item {
      padding-bottom: 50px;
      width: calc(50% - 30px);
      position: relative;

      .history_date {
        font-size: 16px;
        font-weight: 300;
        color: $primary_color;
        position: absolute;
        right: -170px;
        top: -5px;
        width: 110px;
      }

      &.reverse .history_date {
        right: unset;
        left: -170px;
        text-align: right;
      }

      &.reverse {
        margin-left: auto;

        &:last-child::before {
          display: none;
        }

        &::before {
          content: "";
          position: absolute;
          left: -31px;
          top: 0;
          width: 1px;
          height: 100%;
          background: #e2e5ea;
        }

        &::after {
          content: "";
          position: absolute;
          left: -36px;
          top: 0;
          width: 11px;
          height: 11px;
          background: $primary_background;
          border-radius: 50%;
        }
      }

      &:not(.reverse):after {
        content: "";
        position: absolute;
        right: -30px;
        top: 0;
        width: 1px;
        height: 100%;
        background: #e2e5ea;
      }

      &:not(.reverse)::before {
        content: "";
        position: absolute;
        right: -35px;
        top: 0;
        width: 11px;
        height: 11px;
        background: $primary_background;
        border-radius: 50%;
        z-index: 2;
      }

      >div {
        padding: 25px;
        color: $primary_color;
        border-radius: 8px;
        text-align: left;

        &:nth-child(1n) {
          background: #e3effa;
        }

        &:nth-child(2n) {
          background: #e3ecee;
        }

        &:nth-child(3n) {
          background: #e8e5ea;
        }

        &:nth-child(4n) {
          background: #e5ebe9;
        }

        &:nth-child(5n) {
          background: #ece6e7;
        }

        &:nth-child(6n) {
          background: #ede8e3;
        }

        .history_title {
          font-weight: 500;
          font-size: 18px;
          color: $primary_color;
          margin-bottom: 15px;
        }

        .history_desc {
          margin: 0;
          font-weight: 300;
          font-size: 16px;
          color: $primary_color;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 974px) {
  .our_history {
    h4 {
      font-size: 32px;
    }

    >p {
      width: 700px;
      padding: 0 15px;
    }
  }

  .our_history .our_history_content .our_history_item {
    margin-left: 35px;
    width: calc(100% - 45px);

    &:not(.reverse)::after {
      left: -31px;
      right: unset;
    }

    &:not(.reverse)::before {
      left: -35px;
      right: unset;
    }

    &.reverse {
      margin-left: 35px;
    }

    >div {
      .history_date {
        position: unset;
        display: block;
        margin-bottom: 10px;
        width: max-content;
      }

      .history_desc {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .our_history {
    padding: 0 15px;

    h4 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
      width: 100%;
    }
  }

  .our_history .our_history_content .our_history_item>div .history_date {
    font-size: 12px;
  }

  .our_history .our_history_content .our_history_item>div .history_title,
  .our_history .our_history_content .our_history_item>div .history_desc {
    font-size: 14px;
  }

  .our_history .our_history_content .our_history_item {
    margin-left: 25px;

    &.reverse {
      margin-left: 25px;
    }

    &.reverse::before,
    &:not(.reverse)::after {
      left: -21px;
    }

    &.reverse::after,
    &:not(.reverse)::before {
      left: -26px;
    }
  }
}

// ================================= Join Allsopp & Allsopp =================================
.transparent_pricing {
  background: #f8f9fb;

  .container {
    h4 {
      font-size: 40px;
      font-weight: 600;
      color: $primary_color;
      margin: 0 0 20px 0;
      text-align: center;
    }

    >p {
      font-size: 16px;
      font-weight: 300;
      margin: 0 auto;
      width: 800px;
      text-align: center;
    }

    .pricing_cards {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      align-items: stretch;
      gap: 25px;

      .price_card {
        padding: 30px;
        padding-bottom: 120px;
        background: #e3ecee;
        border-radius: 8px;

        position: relative;

        &.unique_card {
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
            0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.06);
          background: #fff;
        }

        >span {
          font-weight: 300;
          font-size: 18px;
          color: $primary_color;
        }

        h5 {
          font-weight: 600;
          font-size: 32px;
          color: $primary_color;
          margin: 5px 0 30px 0;

          label {
            color: #b2b9cb;
            font-weight: 300;
            font-size: 14px;
          }
        }

        ul {
          padding-top: 30px;
          border-top: 1px solid #e2e5ea;

          li {
            display: flex;
            font-weight: 300;
            font-size: 16px;
            color: $primary_color;
            margin-bottom: 10px;

            svg {
              width: 16px;
              margin-right: 10px;
            }
          }
        }
        >p{
          width: 90%;
          text-align: center;
          position: absolute;
          bottom: 20px;
          font-size: .8rem;
          border-color: $primary_color;
          left: 0;
          cursor: pointer;
          right: 0;
          margin: auto;
        }
        >button {
          width: 80%;
          position: absolute;
          bottom: 50px;
          border-color: $primary_color;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
}
.transparent_pricing .pricing_cards .price_card{
  width: 33.3%;
}
@media screen and (max-width: 974px) {
  .transparent_pricing .container {
    h4 {
      font-size: 32px;
    }

    >p {
      width: auto;
      padding: 0 15px;
    }
  }

  .transparent_pricing .pricing_cards {
    flex-direction: column;

    .price_card {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .transparent_pricing .container {
    h4 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
      width: 100%;
    }
  }

  .transparent_pricing .container .pricing_cards .price_card ul li,
  .transparent_pricing .container .pricing_cards .price_card>span {
    font-size: 14px;
  }

  .transparent_pricing .container .pricing_cards .price_card h5 {
    font-size: 20px;
  }
}

// ================================= Join Allsopp & Allsopp =================================
.join_allsopp {
  background: #f8f9fb;
  padding: 80px 0;
  border-top: 1px solid #e2e5ea;

  .container {
    h4 {
      font-size: 40px;
      font-weight: 600;
      color: $primary_color;
      margin: 0 0 20px 0;
      text-align: center;
    }

    >p {
      font-size: 16px;
      font-weight: 300;
      margin: 0 auto;
      width: 800px;
      text-align: center;
    }

    .join_allsopp_items {
      margin-top: 60px;

      .join_allsopp_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #ffffff;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
          0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        padding: 25px;
        margin-bottom: 15px;

        .uk-svg {
          fill: transparent;
        }

        h5 {
          margin: 0;
          font-weight: 500;
          font-size: 18px;
          color: $primary_color;
          width: 30%;
          font-family: "Lexend Deca";
        }

        >div:nth-child(2) {
          width: 285px;
        }

        >div:nth-child(3) {
          width: 140px;
        }

        >div:nth-child(4) {
          width: 180px;
        }

        >div {
          font-weight: 300;
          font-size: 18px;
          color: $primary_color;

          svg {
            margin: -2px 8px 0 0;
            width: 24px;
          }
        }

        >button {
          border-color: $primary_color;
          width: 15%;
          padding-inline: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 974px) {
  .join_allsopp .container {
    h4 {
      font-size: 32px;
    }

    >p {
      width: 700px;
      padding: 0 15px;
    }
  }

  .join_allsopp .container .join_allsopp_items .join_allsopp_item {
    >div {
      display: none;
    }
  }

  .join_allsopp .container .join_allsopp_items .join_allsopp_item>button {
    width: 224px;
  }

  .join_allsopp .container .join_allsopp_items .join_allsopp_item h5 {
    width: max-content;
  }
}

@media screen and (max-width: 600px) {
  .join_allsopp .container {
    h4 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
      width: 100%;
    }
  }

// ================================= Join Allsopp & Allsopp =================================
.transparent_pricing {
  background: #f8f9fb;

  .container {
    h4 {
      font-size: 40px;
      font-weight: 600;
      color: $primary_color;
      margin: 0 0 20px 0;
      text-align: center;
    }

    >p {
      font-size: 16px;
      font-weight: 300;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }

    .pricing_cards {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      align-items: stretch;
      gap: 25px;

      .price_card {
        padding: 40px 20px 36px;
        h5{
          font-size: 2.5rem;
        }
        >p{
          width: 90%;
          text-align: center;
          position: relative;
          bottom: 0px;
          font-size: .8rem;
          border-color: $primary_color;
          left: 0;
          cursor: pointer;
          padding-top: 20px;
          right: 0;
          margin: auto;
        }
        >button {
          width: 100%;
          position: relative;
          bottom: 0px;
          border-color: $primary_color;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
}

  .join_allsopp .container .join_allsopp_items .join_allsopp_item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h5,
    >div,
    >button {
      width: 100%;
      font-size: 14px;
    }

    h5 {
      margin-bottom: 20px;
    }

    >div {
      margin-bottom: 15px;
    }

    >button {
      margin-top: 5px;
    }
  }
}

// ================================= Our Offices =================================
.modules_ourOffice {
  padding: 80px 0;

  h4 {
    font-size: 40px;
    font-weight: 600;
    color: $primary_color;
    text-align: center;
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 974px) {
  .modules_ourOffice {
    h4 {
      font-size: 32px;
    }

    .latestAwards_slider {
      .slider_nav {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .modules_ourOffice {
    h4 {
      font-size: 20px;
    }
  }
}

// ================================= Customer Reviews =================================
.customer_reviews {
  padding: 80px 0;
  background: #e8e5ea;

  h4 {
    font-size: 40px;
    font-weight: 600;
    color: $primary_color;
    text-align: center;
    margin: 0 0 40px 0;
  }

  .customer_review {
    >div {
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
        0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.06);
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .stars {
        svg {
          width: 32px;

          path {
            fill: $primary_color  !important;
          }
        }
      }

      .customer_review {
        text-align: left;
        font-weight: 300;
        font-size: 18px;
        color: $primary_color;
        height: max-content;
        overflow: hidden;
        margin: 25px 0;
      }

      .customer_info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: auto;

        img {
          border-radius: 50%;
          width: 48px;
          height: 48px;
          margin-right: 10px;
        }

        >div {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          >span {
            font-size: 12px;
            font-weight: 300;
            color: $primary_color;
          }

          .customer_name {
            font-size: 16px;
            color: $primary_color;
          }
        }
      }
    }
  }

  .google_play_total_reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 30px auto;

    img {
      width: 118px;
      margin-right: 20px;
    }

    >div {
      font-weight: 300;
      font-size: 16px;
      color: $primary_color;

      >span {
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 974px) {
  .customer_reviews {
    h4 {
      font-size: 32px;
    }

    .container {
      max-width: calc(95% + 12px) !important;
    }

    .latestAwards_slider {
      .customer_reviews_slider {
        width: calc(100% + 15px);
      }

      margin: auto;

      .latestAwards_item {
        width: calc(100% + 30px);

        >div {
          height: 350px;
        }
      }

      .slider_nav {
        display: flex;
        margin-top: 40px !important;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .customer_reviews {
    h4 {
      font-size: 20px;
    }

    .container {
      max-width: 100% !important;
    }
  }

  .customer_reviews .latestAwards_slider .latestAwards_item {
    width: 100%;
  }

  .customer_reviews .latestAwards_slider .customer_reviews_slider {
    margin-left: -10px;
    width: calc(100% + 20px);
  }

  .customer_reviews .customer_review>div .stars svg {
    width: 20px;
  }

  .customer_reviews .customer_review>div .customer_info>div .customer_name,
  .customer_reviews .customer_review>div .customer_review {
    font-size: 14px;
  }

  .customer_reviews .customer_review>div .customer_info>div>span {
    font-size: 12px;
  }
}