.span {
  color: red;
}

.td-1 {
  width: 5px;
  height: 25px;
  background: black;
}
.td-2 {
  width: 5px;
  height: 25px;
  background: white;
}
.td-3 {
  width: 5px;
  height: 25px;
  background: white;
}
.td-4 {
  width: 5px;
  height: 15px;
  background: white;
}
.td-5 {
  width: 5px;
  height: 15px;
  background: black;
}
.td-6 {
  width: 5px;
  height: 15px;
  background: white;
}
.td-7 {
  width: 10px;
  height: 25px;
  background: black;
}

.box-bor {
  width: 20px;
  border: 1px solid black;
}
.box-bord {
  width: 25px;
  border: 1px solid black;
}
.box-borde {
  border: 1px solid black;
}
