.kpi-box-dark {
    position: relative;
    background: #252526;
    border: 1px solid #303033;
    padding: 15px;
    @media screen and (max-width: 800px) {
        border-radius: 10px; 
    }
    .kpiBox{
        .box{
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: white;
        }
        .box-header{
            background: #2A2A2B;
            padding: 13px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3{
                margin: 0px;
                padding-top: 3px;
                height: 100%;
                display: inline-block;
                align-items: center;
                height: 23px;
                font-size: 1rem;
            }
            @media screen and (max-width: 800px) {
                h3{
                    font-size: 1.3rem;
                    font-family: AcuminBold;
                    display: flex;
                    align-items: center;
                    padding-top: 0px;
                    margin-top: 0px;
                }
            }
        }
    }
}
.kpi-box-light {
    background: #EDEAE3;
    border-radius: 8px;
    overflow: hidden;
    .kpiBox{
        .box-header{
            background: #FCF5E8;
            padding: 13px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3{
                margin: 0px;
                height: 100%;
                display: inline-block;
                align-items: center;
                height: 23px;
                font-size: 1rem;
                color: black;
                font-family: AcuminBold;
                font-size: 1.3rem;
                padding: 0px;
            }
        }
    }
}
.kpi-box-el-gray{
    background: #EDEAE3;
    border-radius: 20px;
    overflow: hidden;
    .figure-box{
        color: #252526;
    }
}
.kpi-box-el-gold{
    background: #D1AD8C;
    border-radius: 20px;
    overflow: hidden;
    .figure-box{
        color: #252526;
    }
}